.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

main {
  border-radius: 10px;
  background-color: #BDBFAA;
  color: rgb(0, 0, 0);
  padding-top: 35px;
  
  }

input {
    border-radius: 10px;
    background-color: #BDBFAA;
    
}

textarea {
  background-color: azure;
}
  

    .button {
      background-color: #646cff;
    }

    .button:hover{
        background-color: #08267e;
        color: #fefff5;
        transition-duration: 0.5s;
        
       }
       
       a:hover{
           background-color:  #BDBFAA;
           color: black;
           transition-duration:1s;
           border-radius: 10px;
           text-decoration: overline;
           
       }

      

        .invalid {
            border: 2px solid red;
            
        }
        
        input{
            border-radius: 10px;
        }

        .invalid {
            border: 2px solid red;
            
          }

          button {
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #1a1a1a;
            cursor: pointer;
            transition: border-color 0.25s;
          }
          button:hover {
            border-color: #646cff;
          }
          button:focus,
          button:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
          }
          

          