nav{
    border-radius: 10px;
    background-color: #283540;
    
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 250px;*/
    
    }

    /*#container{
        display: flex;
        justify-content: center;
        align-items: center;
        }

        #container div {
        height: 30px;
        width: 250px;
        
        }*/

    @media only screen and ( max-width: 740px) {
        nav ul li {
            margin: 15px;
            display: inline-block;
            padding: 5px;
        }

        nav ul{
            padding: 0%;
        }
      }