nav{
    border-radius: 10px;
    background-color: #283540;
    }

    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        }

        #container div {
        height: 30px;
        width: 250px;
        
        }

    @media only screen and ( max-width: 600px) {
        nav ul li {
            margin: 15px;
           /* display: inline-block;*/
        }
      }