 /*main{
    background-color:#BDBFAA;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    }*/

   

  .button:hover{
    background-color: #172E73;
    color: #BDBFAA;
    transition-duration: 0.5s;
    
    }

    h2, li {
      text-align: center;
    }

    p {
      text-align: center;
    }
    
   