
  .item-portfolio{
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    
}

#perfil{
    border-radius: 80px;
  
  }
    
    main{
    border-radius: 10px;
    background-color:  #BDBFAA;
    color: rgb(0, 0, 0);
    
    }

    